<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'photoapp/style.css'%}">
    <title>Photo</title>
</head>
<body>
    <div class="container">
        

        <div class="content">
            <p>{{photo.name}}</p>
            <h2> {{photo.description}} </h2><br><br>
            <p> comments </p>
            {% for pic in photo.comment.all %}
            <p> <b>{{pic.author}} :</b> {{pic.comment}} </p>
           
           
            {%  endfor %}
        </div>
       
    </div>
</body>
</html>